requests-mock
odoo12-addon-base_rest==12.0.2.1.1
odoo12-addon-project_time_in_day @ git+https://github.com/akretion/ak-odoo-incubator@12.0-project-estimation-step#subdirectory=setup/project_time_in_day
odoo12-addon-project_estimate_step @ git+https://github.com/akretion/ak-odoo-incubator@12.0-project-estimation-step#subdirectory=setup/project_estimate_step
