odoo15-addon-project_time_in_day @ git+https://github.com/akretion/ak-odoo-incubator@15-tmp#subdirectory=setup/project_time_in_day
odoo15-addon-project_estimate_step @ git+https://github.com/akretion/ak-odoo-incubator@15-tmp#subdirectory=setup/project_estimate_step
